html, body{
    background-color: rgb(95, 149, 197);
    height: 100vh;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
#app{
    height: 100%;
}

button{
    border: 1px black solid;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.login{
    width: 35%;
    height: 15%;
    background-color: rgba(255, 0, 0, 0);
}